:root {
  --black: #1e1e1e;
  --white: #d4d4d4;
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: url("/static/fonts/Roboto.ttf") format('truetype');
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    src: url("/static/fonts/Montserrat.ttf") format('truetype');
}

body {
    background-color: var(--black);
}

* {
    font-family: 'Roboto', sans-serif;
    color: var(--white);
}

h1, h2, h3, h3 {
    font-family: 'Montserrat', sans-serif;
}

.highlight {
    background-color: aqua;
    font-weight: bold;
    padding: 0 5px;
    color: navy;
}

p.result-path {
    font-size: 14px;
    margin: 0;
    font-style: italic;
    color: coral;
}

a.link_pdf, a.link_pdf * {
    color: aquamarine;
}

a.link_pdf i::before {
    color: aquamarine;
}

.matches {
    border-left: 2px solid aqua;
    border-bottom: 2px solid aqua;
}

.matches .textbox:not(:last-child)::after {
    content: "[...]";
    display: inline-block;
    margin: 0;
    margin-top:5px;
    color:gray;
}

.textbox > p {
    margin-bottom: 0;
}

form#searchForm button {
    background-color: coral;
    color: var(--black);
}